@model StaffManagement.Dtos.User.UpdateUserDto

@{
    ViewData["Title"] = "Edit";
    var roles = ViewBag.RoleNames as SelectList;
    foreach(var role in roles)
    {
        role.Selected = Model.RoleNames.Contains(role.Value);
    }
}

<h1>Edit</h1>

<h4>Edit User Details</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" asp-route-id="@ViewBag.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" type="password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="EmployeeId" class="control-label"></label>
                        <select asp-for="EmployeeId" class="form-control select2bs4" asp-items="ViewBag.EmployeeIds"></select>
                        <span asp-validation-for="EmployeeId" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="RoleNames" class="control-label"></label>
                        <select asp-for="RoleNames" class="form-control select2bs4" asp-items="roles"></select>
                        <span asp-validation-for="RoleNames" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit User" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
